/* * {
    border: red solid 1px;
} */

body {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(215, 204, 175);
}

.column_one {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    padding: 3em;
    background-color: rgb(92, 21, 92);
    color: white;
} 

.header {
    display: flex;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    
}

.form, form {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: x-large;
}

input {
    height: 2em;
    background-color: rgba(250, 248, 100, 0.981);
}

.column_two {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    padding: 3em;
    background-color: rgb(92, 21, 92);
    color: white;
    margin: 4em, 0em, 0em 0em;
}

.blue_bar {
    display: flex; 
    background-color: rgb(13, 13, 133);
    height: 5em;
    flex: 1;
    border: black 2px solid;   
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}